.profile {
    width: 500px; 
    display: block; 
    margin-left: auto;
    margin-right: auto   
}

.title{
    letter-spacing: -2px; 
    text-align: center;
}
.box{
    width: 100px;
    background: rgb(187, 187, 192);
    margin-left: 250px;
    padding: 40px;
    border: 10px solid rgb(87, 62, 62);
    border-radius: 5px;
    height: 150px;
    font-size: 10px;
    box-shadow: 5px 10px violet;

}

.container{
    width: 800px;


}

.header{
    width: 100%;
    height: 100%;
    background: aquamarine;
}

.left-menu{
    width: 20%;
    height: 400px;
    background: cornflowerblue;
    float: left;
}

.right{
    width: 80%;
    height: 400px;
    background: coral;
    float: left;
}

.footer{
    width: 100%;
    height: 100px;
    background: gray;
    clear: both;
}